<h2 mat-dialog-title>Create new blog</h2>
<mat-dialog-content>
    <p>holaaaa</p>
    <!--
    <mat-form-field>
        <input matinput type="text" placeholder="title">
        <textarea matinput type="text" value="description"></textarea>
        <select matinput name="category" id="category">
            <option value="travel">Travel</option>
            <option value="lifestyle">Lifestyle</option>
            <option value="business">Business</option>
            <option value="food">Food</option>
            <option value="work">Work</option>
          </select>
        <input matinputtype="text" placeholder="image URL">
    </mat-form-field>

    -->
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button>Cancel</button>
    <button mat-button>Add</button>
</mat-dialog-actions>